# Database
DB_NAME=shop_db
DB_USER=shop_user
DB_PASS=change_me
DB_ROOT_PASS=change_me_root

# App
APP_URL=http://localhost:8082

# Mail
MAIL_FROM=info@example.com
MAIL_FROM_ORDER=order@example.com
MAIL_FROM_NAME="My Shop"
MAIL_SMTP_PASS=change_me
MAIL_SECRET_KEY=generate_a_random_secret_here